<!--@subject {{trans "Composer Security Avisories for"}} {{var store_url}} @-->
<!--@vars {} @-->

<div style="font-family:Arial,sans-serif; padding:16px;">
    <p>Warning!</p>
    <p>Your store <strong>{{var store.getFrontendName()}}</strong> at {{var store_url}} is using composer packages with security advisories:</p>

    <table style="width: 100%;">
        <thead>
        <tr style="text-align: left">
            <th>package</th>
            <th>CVE</th>
            <th>severity</th>
        </tr>
        </thead>
        <tbody>
        {{block
        class="Corrivate\\ComposerDashboard\\Block\\Adminhtml\\Email\\Advisories"
        area="adminhtml"
        template="Corrivate_ComposerDashboard::email/advisories.phtml"
        }}
        </tbody>
    </table>

    <br/>
    <br/>

    <p>Please check the composer dashboard in your admin panel for more details.</p>
    <p><i>System > Composer Dashboard > Security Advisories</i></p>

    <br/>
    <p>With kind regards,</p>
    <p><b>Composer Dashboard</b> by Corrivate</p>

</div>
