<!--@subject {{trans "You have outdated packages"}} @-->
<!--@vars {} @-->

{{template config_path="design/email/header_template"}}

<p>Notice!</p>
<p>Some of your composer packages are outdated or abandoned:</p>

<table style="width: 100%;">
    <thead>
    <tr>
        <th>package</th>
        <th>current version</th>
        <th>latest version</th>
        <th>update status</th>
        <th><!-- abandoned --></th>
    </tr>
    </thead>
    <tbody>
    {{block
    class="Corrivate\\ComposerDashboard\\Block\\Email\\Outdated"
    area="frontend"
    template="Corrivate_ComposerDashboard::email/outdated.phtml"
    }}
    </tbody>
</table>

<br/>
<br/>

<p>Please check the composer dashboard in your admin panel for more details.</p>
<p><i>System > Composer Dashboard > Installed Packages</i></p>

<br/>
<p>With kind regards,</p>

<!-- Logo at the bottom -->
<table style="margin-top: 20px; width: 100%;">
    <tr>
        <td style="text-align: center; width:36px">
            <img
                src="{{view url='Corrivate_ComposerDashboard::images/corrivate-32x32.png'}}"
                alt="Logo"
                style="display: block; width: 24px; height: 24px;"
            />
        </td>
        <td style="vertical-align: center;"><b>Composer Dashboard</b> by Corrivate</td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}
